/** General styling **/

@import url('http://fonts.googleapis.com/css?family=Roboto');
@import url('http://fonts.googleapis.com/css?family=Rajdhani');
* {
    position: relative;
    font-family: 'Roboto';
    color: #777777;
}
/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 600px) {
    * {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }
#wrapper {
    width: 80%;
    margin: 0 centre;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Rajdhani';
}

hr {
    border: 1px solid #f2f2f2;
}

body {
    margin: 0px;
    overflow: auto;
}


/** General styling ends here**/


/** header stylign starts here **/

.heading {
    display: flex;
    margin-top: 1%;
}

.sideLine {
    margin-top: 15px;
    border-top: 1px solid black;
    width: 50%;
}

.headingText {
    border: 1px solid blue;
    text-align: center;
    width: 20%;
    background-color:  #000033;
    color:  #777777 ;
}


/** header styling ends here **/


/** split screen styling starts here **/

.column {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow: auto;
}

.navbar {
    left: 0;
    width: 15%;
    background-color: #2f3742;
    overflow: auto;
    scrollbar-width: unset;
}

.maincontent {
    right: 0;
    width: 85%;
    margin: 0;
    overflow: auto;
}


/** split screen styling ends here **/

.navbar::-webkit-scrollbar {
    scroll-behavior: smooth;
}


/** General styling Ends here **/


/** footer styling **/

footer {
    font-size: 0.7em;
    text-align: center;
    font-style: italic;
    position: relative;
    bottom:0;
    width:100%; 
}

.copyright label {
    color: white;
}

.copyright label:nth-child(3) {
    color: #3046fc;
}


/** footer styling ends here **/


/** nav bar css **/

.navbar img {
    width: 80%;
    padding: 0 15px 0px 15px;
}

.navbar h3 {
    font-style: bold;
    padding-left: 10%;
}
.navbar ul li a {
    list-style: none;
    text-decoration: none;
    color: #3046fc;
    font-style: bold;
}

.navbar ul {
    display: block;
    padding-left: 0px;
    font-size: 1em;
}

.navbar a {
    margin-left: 10%;
}

.navbar ul li:hover {
    background: linear-gradient(to right, #3046fc 5%, #2f3742 5% 100%);
}

.navbar ul li:hover a {
    color: #3046fc;
    font-style: bold;
}

.navbar a {
    display: block;
    height: 35px;
    font-style: bold;
}

#nameImage {
    padding-bottom: 10px;
}


/** side bar styling ends here **/


/** Home page Styling **/

.homeMainContent {
    background-image: url("../Images/HomePage/HomePagebackground.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    height: -webkit-fill-available;
    background-size: cover;
    background-blend-mode: normal;
    margin-top: 0px;
}

.homeMainContent h2 {
    margin-top: 0px;
    padding: 20% 0 0 5%;
    font-size: 30px;
}

.homeMainContent h1 {
    margin-top: 0px;
    padding: 1% 0 0 5%;
    font-size: 50px;
}

.homeMainContent h3 {
    margin-top: 0px;
    padding: 0% 0 0 5%;
    font-size: 24px;
}



.homeMainContent img {
    width: 15%;
}

.homeMainContent button {
    margin: 0% 0 0 5%;
}


/** Home page styling ends here**/


/** Hire Me Styling **/

.hireMeContent {
    overflow: auto;
    margin-left: 5%;
}

.hireMeContent h1 {
    text-align: center;
    padding-bottom: 30%;
}

.section {
    height: 100%;
    position: inherit;
    z-index: 1;
    top: 10%;
    display: flex;
    width: 100%;
    padding-top: 45px;
}

.subsection {
    left: 0;
    width: 33.33%;
    margin: 0 10px 0 10px;
    height: 100%;
}

.subsection img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.subsection p {
    font-size: 15px;
    text-align: center;
    padding: 0%;
}

.subsection button {
    left: 32%;
}


/** hire Me styling ends here **/


/** contact me styling starts here **/

.contactMeMainContent {
    overflow: auto;
}

.contactMeMainContent h1 {
    text-align: center;
    padding-bottom: 30%;
}

.contactme_row {
    height: 100%;
    position: relative;
    z-index: 1;
    top: 10%;
    display: flex;
    width: 80%;
    padding-top: 45px;
    margin-left: 20px;
}

.contactme_column {
    left: 0;
    width: 40%;
    margin: 0 10px 0 50px;
}
.contactme_column strong{
    padding-left: 2%;
}
.contactme_column input[type=text],
input[type=password],
textarea {
    width: 100%;
    padding: 15px;
    margin: 0px 0 0px 0;
    border: none;
    border-bottom: solid thin #f2f2f2;
}




/** styling ends here**/


/** login screen style starts here **/

.logInMainContent {
    background-color: #fefefe;
    margin: auto auto auto;
    border: 1px solid #888;
    width: 40%;
    margin-top: 2%;
    box-sizing: border-box;
    height: auto;
}

.logInMainContent h1 {
    margin: 5px 0px 0px 15px;
}

.logInMainContent input {
    width: 90%;
    padding: 0px;
    margin: 0px 0px 0px 15px;
    border: solid 2px #f2f2f2;
    line-height: 30px;
    overflow: hidden;
}

.logInMainContent label {
    width: 80%;
    padding: 0px;
    margin: 0 0 0 15px;
    border: none;
    line-height: 25px;
    height: 1px;
}

.logInButtons {
    position: relative;
    margin: 0px 30px 0px 0px;
    text-align: right;
}

.logInMainContent button {
    margin: 10px 0 10px 10px;
    height: 35px;
    border-style: none;
}


/** log in screen styling ends here**/


/** check in form styles starts here **/

.signUpMainContent h1 {
    margin: 5px 0px 0px 15px;
}

.signUpMainContent {
    background-color: #fefefe;
    margin: auto auto auto;
    border: 1px solid #888;
    width: 40%;
    margin-top: 2%;
    box-sizing: border-box;
    height: auto;
}

.signUpMainContent input {
    width: 90%;
    padding: 0px;
    margin: 0px 0px 0px 15px;
    border: solid 2px #f2f2f2;
    line-height: 30px;
    overflow: hidden;
}

.signUpMainContent label {
    width: 80%;
    padding: 0px;
    margin: 0 0 0 15px;
    border: none;
    line-height: 25px;
    height: 1px;
}

.signUpButtons {
    margin: 0px 30px 0px 0px;
    position: relative;
    text-align: right;
}

.signUpButtons button {
    margin: 10px 0 10px 10px;
    height: 35px;
    border-style: none;
}


/** check in form style ends here**/


/** about me styles starts here **/

.aboutMeSplitScreen {
    height: 100%;
    position: relative;
    z-index: 2;
    top: 15%;
    overflow: auto;
    display: flex;
    width: 100%;
    margin-top: 2%;
    box-sizing: none;
}

.aboutMeMainContent{
    box-sizing: none;
}

.imageColumn {
    width: 25%;
    text-align: center;
}

.imageColumn img {
    width: 70%;
    border: solid thin black;
    padding: 3px;
    position: relative;
}

.descriptionColumn {
    right: 0;
    width: 75%;
    margin: 0;
}

.gridsforContactInfo {
    display: grid;
    grid-template-columns: 40% 40%;
}

.gridInfo {
    padding-bottom: 5px;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 25px;
}

.grid2,
.grid3 {
    grid-column: 2;
    font-size: 12px;
    display: grid;
    padding-left: 0%;
    position: relative;
}

.grid2 p,
.grid3 p {
    padding-left: 0%;
}

.grid1 {
    height: 75%;
    width: 100%;
    grid-row: 1 / span 2;
}

.grid1 i {
    padding-top: 25%;
    color: white; 
    background-color: blue; 
    text-align: center;
    width: 75%; 
    height: 75%;
}

.grid4 img {
    width: 275px;
}

.fullDescription p {
    font-size: 15px;
}

.fullDescription img {
    width: 175px;
}


/** about me style ends here**/


/** References Styling Starts Here **/

.references {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: auto auto;
    grid-row-gap: 12%;
    grid-column-gap: 6%;
    text-align: center;
    padding: 7.5% 10% 0 10%;
    position: relative;
}

.reference {
    display: flow-root;
    border: thick #222222;
    background-color: white;
    border: 1px solid black;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 0px;
    position: relative;
}

.reference img {
    border-radius: 50%;
    top: -27px;
    width: 50px;
}

.reference p {
    margin-top: -10px;
    font-size: 13px;
}

.reference p:nth-of-type(1) {
    font-style: bold;
}

.reference p:nth-of-type(2) {
    font-style: italic;
}

.reference p:nth-of-type(3) {
    margin-top: -10px;
    font-size: 13px;
}

/** references styling ends here*

/** Portfolio Styling starts here **/

.portfolioMainContent {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 10px;
    margin: 60px 20px 0 20px;
    grid-auto-rows: 150px;
    grid-auto-columns: 150px;
}

.portfolioMenu {
    text-align: center;
    margin-top: 50px;
}

.portfolioMenu button {
    border: none;
    background-color: white;
    position: relative;
    font-size: 15px;
}

.portfolioMainContent img {
    width: 100%;
    height: 100%;
}


/** portfolio styling ends here **/


/** Skills styling starts here **/

.skillsMainContent {
    margin: 1% 10% 0 10%;
    display: block;

}

.barGraphs {
    height: 40vh;
    display: flex;
    width: 100%;
    position: relative;
}
.pieCharts {
    display: flex;
    border: thick black 10Px;
    text-align: center;
    position: relative;
}
.languageSkills {
    display: block;
    height: 40vh;
    margin-top: 1%;
    position: relative;
}
.languageSkills label{
    left: 35%;
}


.marketableSkills {
    width: 50%;
}

.marketableSkills i,
.TransferableSkills i{
    color: white;
}

.TransferableSkills {
    width: 50%;
    margin-left: 5%;
}


.line, .lines {
    height: 25px;
    margin: 0 auto 10px;
    line-height: 25px;
    font-size: 13px;
    color: white;
    padding: 0 0 0 10px;
    position: relative;
}

.line:before, .lines:before {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 25px;
    z-index: -1;
    background: #f2f2f2;
}

.line:after, .lines:after {
    content: '';
    background: #333;
    height: 25px;
    transition: 0.8px;
    display: block;
    width: 100%;
    animation: animate 1 10s;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.line1:after {
    max-width: 75%;
    background-color: #1a53ff;
    display: inline;
}

.line2:after {
    max-width: 75%;
    background-color: #009933;
}

.line3:after {
    max-width: 80%;
    background-color: #33ccff;
}

.line4:after {
    max-width: 97%;
    background-color: #ff3300;
}


.lines1:after {
    max-width: 75%;
    background-color: #1a53ff;
}

.lines2:after {
    max-width: 80%;
    background-color: #009933;
}

.lines3:after {
    max-width: 97%;
    background-color: #33ccff;
}

.lines4:after {
    max-width: 70%;
    background-color: #ff3300;
}
.pieCharts p {
    margin-top: 75%;
    position: relative;
}

.pieCharts p:hover {
    background-color: teal;
}
.progress-circle {
    font-size: 20px;
    margin: 20px;
    position: relative; 
    padding: 0;
    width: 5em;
    height: 5em;
    background-color: #F2E9E1; 
    border-radius: 50%;
    line-height: 5em;
    margin-left: 10%;
 }
 
 .progress-circle:after{
     border: none;
     position: absolute;
     top: 0.35em;
     left: 0.35em;
     text-align: center;
     display: block;
     border-radius: 50%;
     width: 4.3em;
     height: 4.3em;
     background-color: white;
     content: " ";
 }
 /* Text inside the control */
 .progress-circle span {
     position: absolute;
     line-height: 5em;
     width: 5em;
     text-align: center;
     display: block;
     color: #53777A;
     z-index: 1;
 }
 .left-half-clipper { 
    /* a round circle */
    border-radius: 50%;
    width: 5em;
    height: 5em;
    position: absolute; 
    clip: rect(0, 5em, 5em, 2.5em); 
 }
 /* when p>50, don't clip left half*/
 .progress-circle.over50 .left-half-clipper {
    clip: rect(auto,auto,auto,auto);
 }
 .value-bar {
    position: absolute; 
    clip: rect(0, 2.5em, 5em, 0);
    width: 5em;
    height: 5em;
    border-radius: 50%;
    border: 0.45em solid #53777A; 
    box-sizing: border-box;
   
 }
 /* Progress bar filling the whole right half for values above 50% */
 .progress-circle.over50 .first50-bar {
    position: absolute; /*needed for clipping*/
    clip: rect(0, 5em, 5em, 2.5em);
    background-color: #53777A;
    border-radius: 50%;
    width: 5em;
    height: 5em;
 }
 .progress-circle:not(.over50) .first50-bar{ display: none; }
 
 
 /* Progress bar rotation position */
 .progress-circle.p0 .value-bar { display: none; }
 .progress-circle.p1 .value-bar { transform: rotate(4deg); }
 .progress-circle.p2 .value-bar { transform: rotate(7deg); }
 .progress-circle.p3 .value-bar { transform: rotate(11deg); }
 .progress-circle.p4 .value-bar { transform: rotate(14deg); }
 .progress-circle.p5 .value-bar { transform: rotate(18deg); }
 .progress-circle.p6 .value-bar { transform: rotate(22deg); }
 .progress-circle.p7 .value-bar { transform: rotate(25deg); }
 .progress-circle.p8 .value-bar { transform: rotate(29deg); }
 .progress-circle.p9 .value-bar { transform: rotate(32deg); }
 .progress-circle.p10 .value-bar { transform: rotate(36deg); }
 .progress-circle.p11 .value-bar { transform: rotate(40deg); }
 .progress-circle.p12 .value-bar { transform: rotate(43deg); }
 .progress-circle.p13 .value-bar { transform: rotate(47deg); }
 .progress-circle.p14 .value-bar { transform: rotate(50deg); }
 .progress-circle.p15 .value-bar { transform: rotate(54deg); }
 .progress-circle.p16 .value-bar { transform: rotate(58deg); }
 .progress-circle.p17 .value-bar { transform: rotate(61deg); }
 .progress-circle.p18 .value-bar { transform: rotate(65deg); }
 .progress-circle.p19 .value-bar { transform: rotate(68deg); }
 .progress-circle.p20 .value-bar { transform: rotate(72deg); }
 .progress-circle.p21 .value-bar { transform: rotate(76deg); }
 .progress-circle.p22 .value-bar { transform: rotate(79deg); }
 .progress-circle.p23 .value-bar { transform: rotate(83deg); }
 .progress-circle.p24 .value-bar { transform: rotate(86deg); }
 .progress-circle.p25 .value-bar { transform: rotate(90deg); }
 .progress-circle.p26 .value-bar { transform: rotate(94deg); }
 .progress-circle.p27 .value-bar { transform: rotate(97deg); }
 .progress-circle.p28 .value-bar { transform: rotate(101deg); }
 .progress-circle.p29 .value-bar { transform: rotate(104deg); }
 .progress-circle.p30 .value-bar { transform: rotate(108deg); }
 .progress-circle.p31 .value-bar { transform: rotate(112deg); }
 .progress-circle.p32 .value-bar { transform: rotate(115deg); }
 .progress-circle.p33 .value-bar { transform: rotate(119deg); }
 .progress-circle.p34 .value-bar { transform: rotate(122deg); }
 .progress-circle.p35 .value-bar { transform: rotate(126deg); }
 .progress-circle.p36 .value-bar { transform: rotate(130deg); }
 .progress-circle.p37 .value-bar { transform: rotate(133deg); }
 .progress-circle.p38 .value-bar { transform: rotate(137deg); }
 .progress-circle.p39 .value-bar { transform: rotate(140deg); }
 .progress-circle.p40 .value-bar { transform: rotate(144deg); }
 .progress-circle.p41 .value-bar { transform: rotate(148deg); }
 .progress-circle.p42 .value-bar { transform: rotate(151deg); }
 .progress-circle.p43 .value-bar { transform: rotate(155deg); }
 .progress-circle.p44 .value-bar { transform: rotate(158deg); }
 .progress-circle.p45 .value-bar { transform: rotate(162deg); }
 .progress-circle.p46 .value-bar { transform: rotate(166deg); }
 .progress-circle.p47 .value-bar { transform: rotate(169deg); }
 .progress-circle.p48 .value-bar { transform: rotate(173deg); }
 .progress-circle.p49 .value-bar { transform: rotate(176deg); }
 .progress-circle.p50 .value-bar { transform: rotate(180deg); }
 .progress-circle.p51 .value-bar { transform: rotate(184deg); }
 .progress-circle.p52 .value-bar { transform: rotate(187deg); }
 .progress-circle.p53 .value-bar { transform: rotate(191deg); }
 .progress-circle.p54 .value-bar { transform: rotate(194deg); }
 .progress-circle.p55 .value-bar { transform: rotate(198deg); }
 .progress-circle.p56 .value-bar { transform: rotate(202deg); }
 .progress-circle.p57 .value-bar { transform: rotate(205deg); }
 .progress-circle.p58 .value-bar { transform: rotate(209deg); }
 .progress-circle.p59 .value-bar { transform: rotate(212deg); }
 .progress-circle.p60 .value-bar { transform: rotate(216deg); }
 .progress-circle.p61 .value-bar { transform: rotate(220deg); }
 .progress-circle.p62 .value-bar { transform: rotate(223deg); }
 .progress-circle.p63 .value-bar { transform: rotate(227deg); }
 .progress-circle.p64 .value-bar { transform: rotate(230deg); }
 .progress-circle.p65 .value-bar { transform: rotate(234deg); }
 .progress-circle.p66 .value-bar { transform: rotate(238deg); }
 .progress-circle.p67 .value-bar { transform: rotate(241deg); }
 .progress-circle.p68 .value-bar { transform: rotate(245deg); }
 .progress-circle.p69 .value-bar { transform: rotate(248deg); }
 .progress-circle.p70 .value-bar { transform: rotate(252deg); }
 .progress-circle.p71 .value-bar { transform: rotate(256deg); }
 .progress-circle.p72 .value-bar { transform: rotate(259deg); }
 .progress-circle.p73 .value-bar { transform: rotate(263deg); }
 .progress-circle.p74 .value-bar { transform: rotate(266deg); }
 .progress-circle.p75 .value-bar { transform: rotate(270deg); }
 .progress-circle.p76 .value-bar { transform: rotate(274deg); }
 .progress-circle.p77 .value-bar { transform: rotate(277deg); }
 .progress-circle.p78 .value-bar { transform: rotate(281deg); }
 .progress-circle.p79 .value-bar { transform: rotate(284deg); }
 .progress-circle.p80 .value-bar { transform: rotate(288deg); }
 .progress-circle.p81 .value-bar { transform: rotate(292deg); }
 .progress-circle.p82 .value-bar { transform: rotate(295deg); }
 .progress-circle.p83 .value-bar { transform: rotate(299deg); }
 .progress-circle.p84 .value-bar { transform: rotate(302deg); }
 .progress-circle.p85 .value-bar { transform: rotate(306deg); }
 .progress-circle.p86 .value-bar { transform: rotate(310deg); }
 .progress-circle.p87 .value-bar { transform: rotate(313deg); }
 .progress-circle.p88 .value-bar { transform: rotate(317deg); }
 .progress-circle.p89 .value-bar { transform: rotate(320deg); }
 .progress-circle.p90 .value-bar { transform: rotate(324deg); }
 .progress-circle.p91 .value-bar { transform: rotate(328deg); }
 .progress-circle.p92 .value-bar { transform: rotate(331deg); }
 .progress-circle.p93 .value-bar { transform: rotate(335deg); }
 .progress-circle.p94 .value-bar { transform: rotate(338deg); }
 .progress-circle.p95 .value-bar { transform: rotate(342deg); }
 .progress-circle.p96 .value-bar { transform: rotate(346deg); }
 .progress-circle.p97 .value-bar { transform: rotate(349deg); }
 .progress-circle.p98 .value-bar { transform: rotate(353deg); }
 .progress-circle.p99 .value-bar { transform: rotate(356deg); }
 .progress-circle.p100 .value-bar { transform: rotate(360deg); }

/** skills tyling ends here **/


/** Resumes Styling starts here **/
.resumeContent, div.resume, div.event {
    box-sizing: border-box;
  }
  .resumeContent {
    position: relative;
    margin: 0 auto;
    margin-top: 1%;
  }
  
  /* This will draw the vertical line */
  .resumeContent::before {
    content: '';
    width: 5px;
    background-color:grey;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
  }
  
  div.resume {
    padding: 0px 40px;
    position: relative;
    width: 50%;
    left: 0; /* default to left */
  }
  div.right {
    left: 50%;
  }

  .event h3 {
      text-align: center;
      padding: 0;
      margin: 0;
      color: black;
  }
  
  div.event {
    padding: 15px 45px;
    background-color: #caf2f2;
    position: relative;
  }
  
  strong.date {
    font-size: 1.1em;
    font-weight: bold;
    color: #333;
  }
  p.text {
    margin: 0;
    padding: 0;
  }
  
  div.resume::before {
    content: '';
    border: 10px solid transparent;
    border-left-color: #caf2f2;
    border-right: 0;
    position: absolute;
    right: 30px;
    top: 20%;
  }
  div.resume.right::before {
    content: '';
    border: 10px solid transparent;
    border-right-color: #caf2f2;
    border-left: 0;
    position: absolute;
    right: auto;
    left: 30px;
    top: 20%;
  }
  
  div.resume::after {
    content: '';
    background: #fff;
    border: 4px solid grey;
    width: 16px;
    height: 16px;
    border-radius: 20px;
    position: absolute;
    top: 20%;
    right: -14px;
  }
  div.resume.right::after {
    content: '';
    background: #fff;
    border: 4px solid grey;
    width: 16px;
    height: 16px;
    border-radius: 20px;
    position: absolute;
    top: 20%;
    right: auto;
    left: -10px;
  }
/** Resueme styling ends here**/


/** button styling **/

button {
    background: linear-gradient(to right, #3fcaff 0%, #a4ffb0 51%, #3fcaff 100%);
    background-size: 200% auto;
    padding: 0px 35px;
    color: #222222;
    width: auto;
}


/** button styling ends here**